@import 'variables.sass';

.cms-page {
	margin: 0 0 auto;
	width: 100%;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;

	.container {
		position: relative;
		z-index: 2;
	}
}

.cms-headline-wrap {
	margin: 80px auto 30px auto;
}

.cms-headline {
	font-size: $f-size-24;
	font-weight: normal;
	letter-spacing: 3.2px;
	color: rgba($color: #fff, $alpha: 0.66);
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.cms-actions {
	.seemore-btn {
		flex: 0 0 auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;

		font-size: $f-size-16;
		font-weight: 600;
		color: #f937ff;

		&:hover {
			text-decoration: none;
		}

		> span {
			margin: 0 4px 0 0;
		}
	}
}

.cms-media {
	background-repeat: no-repeat;
	background-size: cover;
}

.cms-background {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	.bg-image,
	&.image {
		background-size: cover;
		background-position: center;
	}

	iframe {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		transform: scale(1.2);

		&.youtube {
			opacity: 0;
			transition: opacity ease-in-out 1.5s;

			&.ready {
				opacity: 1;
			}
		}
	}

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		z-index: 2;
	}
}

.cms-segment {
	margin: 0 0 auto;
	width: 100%;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.cms-container {
	flex: 0 0 auto;
	width: 100%;
	position: relative;
	padding: 54px 0;

	.cms-headline {
		margin: 0 0 30px 0;
	}

	.cms-headline + .cms-actions {
		margin: -24px 0 16px 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: center;

		> .ui-button {
			border-radius: 16px;
			color: #f937ff;
			border: solid 1px transparent;
			background-color: rgba($color: #fff, $alpha: 0.1);

			&:hover {
				border: solid 1px #f937ff;
				background-color: rgba(249, 55, 255, 0.1);
			}
		}

		> * {
			margin: 0 0 0 16px;
		}
	}
}

.cms-bg-card-list {
	flex: 0 0 auto;
	width: 100%;

	.container {
		padding: 0 12px;
	}

	.head-title {
		margin-bottom: 8px;
	}
}

.cms-bg-card {
	flex: 0 0 auto;
	width: 100%;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	position: relative;

	&:hover {
		.card-info {
			background-color: rgba($color: #6665ff, $alpha: 0.3);

			.cms-actions {
				display: block;
			}
		}
	}

	.cms-media {
		position: absolute;
		top: 0;
		left: 0;
		width: 150px;
		height: 228px;
		border-radius: 30px;
		z-index: 5;
	}

	.card-info {
		flex: 1 1 auto;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		margin: 64px 0 16px 30px;
		padding: 0 0 0 120px;
		height: 150px;

		background-color: rgba($color: #5f5eee, $alpha: 0.1);

		position: relative;
		z-index: 4;
		border-radius: 10px;

		> h3 {
			flex: 0 0 auto;
			font-size: $f-size-20;
			font-weight: normal;
			color: rgba($color: #fff, $alpha: 0.9);
			text-transform: uppercase;

			position: absolute;
			top: -12px;
			left: 130px;
		}

		> p {
			padding: 24px 16px 24px 16px;
			font-size: $f-size-14;
			font-weight: normal;
			color: rgba($color: #ddd, $alpha: 0.7);
			overflow: hidden;
		}

		.cms-actions {
			display: none;
			position: absolute;
			bottom: -16px;
			right: 0;
		}
	}
}

.cms-bg-card.vertical {
	flex-flow: row nowrap;
	margin: 0 0 20px 0;

	.cms-media {
		flex: 0 0 auto;
		position: static;
		width: 340px;
		height: 220px;
		border-radius: 20px;
		z-index: 5;
	}

	.card-info {
		flex: 1 1 auto;
		margin: 0 0 0 30px;
		padding: 0;
		height: auto;

		background-color: transparent;

		position: relative;
		z-index: 4;

		> h3 {
			flex: 0 0 auto;
			font-size: $f-size-24;
			font-weight: normal;
			letter-spacing: 1.33px;
			color: #fff;
			text-transform: uppercase;

			position: inherit;
			top: 0;
			left: 0;
		}

		> p {
			flex: 1 1 auto;
			margin: 12px 0 0 0;
			padding: 0;
			font-size: $f-size-16;
			font-weight: normal;
			color: rgba($color: #fff, $alpha: 0.7);
			overflow: hidden;
		}

		.cms-actions {
			display: block;
			position: static;
		}
	}
}

.cms-callout {
	flex: 0 0 auto;
	width: 100%;
	height: 700px;
	position: relative;
	overflow: hidden;

	padding: 70px 0 0 0;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.8;
		background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.46),
			rgba(0, 0, 0, 0.71) 100%,
			rgba(0, 0, 0, 0.81)
		);
		z-index: 5;
		border-radius: 6px;
	}

	.video_bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		width: 100%;
		object-fit: fill;
		transform: scale(1.5);

		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-color: black;
	}

	.bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		width: 100%;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-color: black;
	}

	.container {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;

		color: #fff;
		z-index: 10;

		> h1 {
			flex: 0 0 auto;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
			letter-spacing: 4px;
			color: #ffffff;
		}

		.sub-title {
			flex: 0 0 auto;
			max-width: 640px;
			margin: 24px 0;

			font-size: $f-size-16;
			font-weight: normal;
			line-height: 1.75;
			letter-spacing: 1.54px;
			color: #e0e0e0;
		}

		.actions {
			.ui-button {
				box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.85);
			}
		}
	}
}

.cms-tiles {
	.container {
		padding: 0 12px;
	}
}

.cms-tile {
	flex: 0 0 auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;

	position: relative;
	height: 240px;
	border-radius: 40px;
	text-decoration: none;
	overflow: hidden;

	&.pointer {
		cursor: pointer;
	}

	&:hover {
		text-decoration: none;
	}

	.bg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		transition: transform 1s;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			background: rgba(0, 0, 0, 0.2);
			border-radius: 6px;
			transition: background-color 1s;
			z-index: 2;
		}

		&.image {
			transform-origin: top left;
		}
	}

	.backdrop {
		position: absolute;
		left: -16px;
		right: 0;
		bottom: -40px;
		height: 140px;
		z-index: 2;
		transform: rotate(8deg);
		background-color: rgba(0, 3, 34, 0.3);
	}

	.info {
		padding: 0 25px 24px 25px;
		height: 50%;

		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		z-index: 5;

		.cms-headline {
			margin-bottom: 8px;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
			font-size: $f-size-18;
			font-weight: bold;
			color: #ffffff;
		}

		> p {
			height: 38px;
			overflow: hidden;
			font-size: $f-size-14;
			font-weight: normal;
			color: #dddddd;
		}
	}
}

.cms-game-card-list {
	flex: 0 0 auto;
	width: 100%;
	margin: 0 0 60px 0;

	.container {
		padding: 0 12px;
	}

	.head-title {
		margin-bottom: 8px;
	}
}

.cms-game-card {
	flex: 0 0 auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;

	height: 270px;
	border-radius: 30px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.59);
	background-color: #1f2244;

	padding: 14px 18px;
	color: #fff;

	overflow: hidden;

	&:hover {
		background-color: #363c73;

		.img {
			.ui-button {
				display: block;
			}
		}
	}

	.img {
		flex: 0 0 auto;
		width: 100%;
		height: 140px;
		border-radius: 18px;
		background-repeat: no-repeat;
		background-size: cover;

		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		position: relative;

		.ui-button {
			display: none;
			font-weight: bold;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.59);
			z-index: 200;
		}
	}

	a {
		color: #fff;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	> h3 {
		flex: 0 0 auto;
		width: 100%;
		margin: 14px 0 0 0;
		font-size: $f-size-16;
	}

	.owner {
		margin: 4px 0 0 0;

		> a {
			font-size: $f-size-16;
			font-weight: normal;
			color: rgba($color: #fff, $alpha: 0.7);
		}
	}

	.tags {
		flex: 0 0 auto;
		width: 100%;
		margin: 12px 0 0 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
	}
}

.cms-game-card-v2 {
	flex: 0 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;

	height: 320px;
	border-radius: 30px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.59);
	background-color: #1f2244;

	padding: 24px;
	color: #fff;

	overflow: hidden;

	&:hover {
		.brand {
			.img {
				.ui-button {
					display: block;
					box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.59);
				}
			}
		}
	}

	&.vertical {
		.brand {
			width: 364px;
		}
	}

	.brand {
		flex: 0 0 auto;
		width: 260px;
		margin: 0 24px 0 0;

		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;

		.img {
			flex: 0 0 auto;
			width: 100%;
			height: 205px;
			border-radius: 18px;
			background-repeat: no-repeat;
			background-size: cover;

			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: center;

			.ui-button {
				display: none;
				font-weight: bold;
			}
		}

		.title {
			flex: 0 0 auto;
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: center;

			margin: 20px 0 0 0;

			.ui-avatar {
				margin: 0 8px 0 0;
			}

			.names {
				overflow: hidden;

				> h3 {
					flex: 0 0 auto;
					width: 100%;
					margin: 0;
					font-size: $f-size-18;
				}

				.owner {
					margin: 8px 0 0 0;

					> a {
						font-size: $f-size-18;
						font-weight: normal;
						color: rgba($color: #fff, $alpha: 0.7);
					}
				}
			}
		}
	}

	.info {
		flex: 1 1 auto;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;

		overflow: hidden;
		color: #fff;

		.desc {
			flex: 1 1 auto;
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;

			> div {
				margin: 4px 0 0 0;

				> a {
					font-size: 12px;
					font-weight: bold;
					color: #f937ff;
				}
			}
		}

		.ext {
			flex: 0 0 auto;
			width: 100%;
		}

		.data {
			flex: 0 0 auto;
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: center;

			.favorite,
			.grade {
				flex: 0 0 auto;
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-items: center;

				&:first-child {
					margin: 0 24px 0 0;
				}

				.icons {
					font-size: $f-size-24;
				}

				> span {
					margin: 0 0 0 8px;
					font-size: $f-size-16;
					font-weight: normal;
					color: rgba($color: #fff, $alpha: 0.7);
				}
			}
		}

		.tags {
			flex: 0 0 auto;
			width: 100%;
			margin: 0;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: center;

			height: 103px;
			overflow: hidden;
		}
	}

	a {
		color: #fff;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}

.cms-game-banner {
	flex: 0 0 auto;
	margin: 0 auto;
	width: 100%;
	max-width: 1360px;
	height: 420px;

	.game {
		margin: 0;
		padding: 0;
		height: 420px;

		background-repeat: no-repeat;
		background-size: cover;

		position: relative;

		.info {
			flex: 0 0 auto;

			padding: 32px 24px 24px 24px;

			position: absolute;
			left: 0;
			bottom: 0;

			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;

			color: #fff;

			width: 457px;
			height: 115px;
			border-top-right-radius: 10px;
			background-color: rgba(0, 0, 0, 0.2);

			.backdrop {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;

				border-top-right-radius: 18px;
				background-color: rgba(0, 3, 34, 0.3);
			}

			.ui-button {
				position: absolute;
				top: -20px;
				left: 24px;
				z-index: 5;
				box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.85);
			}

			.title {
				flex: 0 0 auto;
				width: 100%;
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-items: center;
				margin: 16px 0 0 0;
				overflow: hidden;
				z-index: 5;

				.ui-avatar {
					margin: 0 8px 0 0;
				}

				.names {
					overflow: hidden;

					> h3 {
						flex: 0 0 auto;
						width: 100%;
						margin: 0;

						font-size: $f-size-18;
						font-weight: bold;
					}

					.owner {
						margin: 8px 0 0 0;

						> a {
							font-size: $f-size-18;
							font-weight: normal;
							color: rgba($color: #fff, $alpha: 0.7);
						}
					}
				}
			}

			.data {
				flex: 0 0 auto;
				width: 100%;
				margin: 16px 0 0 0;
				padding: 0 0 0 60px;

				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-items: center;
				z-index: 5;

				.commonts,
				.favorite,
				.grade {
					flex: 0 0 auto;
					display: flex;
					flex-flow: row nowrap;
					justify-content: flex-start;
					align-items: center;

					margin: 0 24px 0 0;

					&:last-child {
						margin: 0;
					}

					.icons {
						font-size: $f-size-24;
					}

					> span {
						margin: 0 0 0 8px;
						font-size: $f-size-16;
						font-weight: normal;
						color: rgba($color: #fff, $alpha: 0.7);
					}
				}
			}
		}

		a {
			color: #fff;
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.cms-alignment {
	display: flex;

	& > h1,
	h2,
	h3 {
		text-align: center;
	}

	.alignment-wrap {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&.center {
		justify-content: center;
	}

	&.left {
		justify-content: flex-start;
	}

	&.right {
		justify-content: flex-end;
	}

	&.container {
		&.left {
			margin-left: 0;
		}

		&.right {
			margin-right: 0;
		}
	}
}

.cms-nav {
	padding: 16px;
	width: 288px;
	overflow: hidden;

	.menu {
		> a {
			flex: 0 0 auto;
			// flex-flow: column nowrap;
			justify-content: space-between;
			position: relative;
			text-decoration: none;
			color: #fff;
			display: flex;
			font-size: $f-size-14;
			color: #d8d8d8;

			> i {
				margin: 0 0 4px 0;
				font-size: $f-size-28;
				opacity: 0.3;
			}

			> span {
				text-transform: uppercase;
				opacity: 0.3;
			}

			.icon {
				height: 20px;
				width: 20px;
				margin-left: 8px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-shrink: 0;

				i {
					font-size: 14px;
					color: #d8d8d8;
					font-weight: bold;

					&.expand {
						transform: rotate(180deg);
					}
				}
			}
		}

		.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-height: 36px;
			padding: 8px 0;
			color: #d8d8d8;
			font-size: 14px;
			position: relative;
			border-bottom: none;

			> * {
				position: relative;
				z-index: 2;
			}

			&.expand {
				> div {
					font-weight: bold;
				}
			}

			&.active {
				&::after {
					position: absolute;
					top: 0;
					bottom: 0;
					content: '';
					background: #61327d;
					width: 400%;
					transform: translateX(-50%);
					z-index: 1;
					cursor: default;
				}
			}
		}

		.subs {
			padding-left: 16px;
			overflow: hidden;
			height: 0;

			&.expand {
				height: auto;
				overflow: visible;
			}
		}
	}
}

.cms-breadcrumb {
	min-height: 56px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-bottom: 1px solid #d8d8d8;
	width: 780px;

	.breadcrumb {
		display: inline-flex;
		color: #d8d8d8;
	}
}

.cms-description {
	&.xlarge {
		font-size: 24px;
		line-height: 1.34;
	}

	&.large {
		font-size: 18px;
		line-height: 1.78;
	}

	&.regular {
		font-size: 16px;
		line-height: 1.5;
		font-weight: 400;
	}

	&.small {
		font-size: 14px;
		line-height: 1.43;
	}

	&.caption {
		font-size: 14px;
		line-height: 1.43;
		font-style: italic;
		color: #7f7f7f;
	}

	&.rich {
		margin: 40px auto 90px auto;
		padding: 0;
		max-width: 900px;
	}

	&.wrap {
	}

	.paragraph {
		font-size: 16px;
		line-height: 22px;


		ul,
		ol {
			margin: 0;
			padding-left: 1.5em;

			li {
				padding-left: 1.5em;

				&:before {
					display: inline-block;
					white-space: nowrap;
					width: 1.2em;
					margin-left: -1.5em;
					margin-right: 0.3em;
					text-align: right;
				}
			}
		}

		ul {
			li {
				&:before {
					content: '\2022';
				}
			}
		}

		ol {
			li {
				list-style-type: none;
			}
		}

		ol li {
			counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
			counter-increment: list-0;
		}

		ol li:before {
			content: counter(list-0, decimal) '. ';
		}

		ol {
			li.ql-indent-1 {
				counter-increment: list-1;
				counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
				padding-left: 3em;

				&:before {
					content: counter(list-1, decimal) '. ';
				}
			}

			li.ql-indent-2 {
				counter-increment: list-2;
				counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
				padding-left: 4.5em;

				&:before {
					content: counter(list-2, decimal) '. ';
				}
			}

			li.ql-indent-3 {
				counter-increment: list-3;
				counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
				padding-left: 6em;

				&:before {
					content: counter(list-3, decimal) '. ';
				}
			}

			li.ql-indent-4 {
				counter-increment: list-4;
				counter-reset: list-5 list-6 list-7 list-8 list-9;
				padding-left: 7.5em;

				&:before {
					content: counter(list-4, decimal) '. ';
				}
			}

			li.ql-indent-5 {
				counter-increment: list-5;
				counter-reset: list-6 list-7 list-8 list-9;
				padding-left: 9em;

				&:before {
					content: counter(list-5, decimal) '. ';
				}
			}

			li.ql-indent-6 {
				counter-increment: list-6;
				counter-reset: list-7 list-8 list-9;
				padding-left: 10.5em;

				&:before {
					content: counter(list-6, decimal) '. ';
				}
			}

			li.ql-indent-7 {
				counter-increment: list-7;
				counter-reset: list-8 list-9;
				padding-left: 12em;

				&:before {
					content: counter(list-7, decimal) '. ';
				}
			}

			li.ql-indent-8 {
				counter-increment: list-8;
				counter-reset: list-9;
				padding-left: 13.5em;

				&:before {
					content: counter(list-8, decimal) '. ';
				}
			}

			li.ql-indent-9 {
				counter-increment: list-9;
				padding-left: 15em;

				&:before {
					content: counter(list-9, decimal) '. ';
				}
			}
		}

		ul {
			li.ql-indent-1 {
				padding-left: 3em;
			}

			li.ql-indent-2 {
				padding-left: 4.5em;
			}

			li.ql-indent-3 {
				padding-left: 6em;
			}

			li.ql-indent-4 {
				padding-left: 7.5em;
			}

			li.ql-indent-5 {
				padding-left: 9em;
			}

			li.ql-indent-6 {
				padding-left: 10.5em;
			}

			li.ql-indent-7 {
				padding-left: 12em;
			}

			li.ql-indent-8 {
				padding-left: 13.5em;
			}

			li.ql-indent-9 {
				padding-left: 15em;
			}
		}

		blockquote {
			padding-left: 10px;
			border-left: 3px solid #cccccc;
		}

		.ql-size-14 {
			font-size: 14px;
		}

		.ql-size-18 {
			font-size: 18px;
		}

		.ql-size-20 {
			font-size: 20px;
		}

		.ql-size-24 {
			font-size: 24px;
		}
	}

	// customize according to parents and theme
	&.hero {
		white-space: pre-line;
	}

	&.background-card.dark {
		background-color: rgba($color: #080c34, $alpha: 0.9);
		color: #dddddd;
	}

	&.background-card.transparent {
		background-color: rgba($color: #080c34, $alpha: 0.9);
		color: #dddddd;
	}

	&.card-list.card,
	&.carousel.card {
		margin-top: 16px;
		color: #212121;
		word-break: break-word;
	}

	&.card-list.card {
		padding: 0;
	}

	&.primary.hero {
		padding: 12px 0 0 0;
	}

	&.jumbotron {
		display: flex;
		justify-content: center;

		.description-wrap {
			text-align: center;
			max-width: 80%;
			padding: 5px 0;
		}
	}

	&.faq {
		width: 100%;
		max-width: 100%;
		padding: 0;

		.paragraph {
			padding: 0;
		}
	}

	&.square,
	&.triple-tile,
	&.rectangle {
		font-size: 1.125rem;
		color: white;

		&.left {
			line-height: 2rem;
		}

		&.right-top,
		&.right-bottom {
			font-size: 1rem;
			line-height: 1.5rem;
		}
	}

	&.bar {
		font-size: 0.875rem;
		line-height: 1.25rem;
		color: black;
	}

	&.primary.background-card {
		padding: 0;
	}

	&.container,
	&.panel {
	}

	&.background-cards.background-card.horizontal {
		padding: 24px 16px;
	}

	&.alignment-left {
		text-align: left;
	}
	&.alignment-center {
		text-align: center;
	}
	&.alignment-right {
		text-align: right;
	}

	&.tutorials {
		color: white;
	}
}

@include mobile {
	.cms-description {
		&.rich {
			padding: 0;
		}
	}
}
