@import 'variables.sass';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: $f-size-14;
  color: #fff;
  background: linear-gradient(180deg, #030303 0%, #001252 100%);
}

h1, h2, h3, h4, h5, h6, p, ul, li, dl, dd, dt, label {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-weight: 900;
  font-size: $f-size-64;
  line-height: 72px;
}

h2 {
  font-weight: 900;
  font-size: $f-size-40;
  line-height: 48px;
}

h3 {
  font-weight: bold;
  font-size: $f-size-36;
  line-height: 48px;
}

h4 {
  font-weight: bold;
  font-size: $f-size-28;
  line-height: 34px;
}


a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


.app-main {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}


.page-header {
  z-index: 10;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 64px;

    >div, >div > nav {
      flex: 0 0 auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;

      
      a {
        color: #fff;

        &:hover {
          text-decoration: none;
        }
      }
    }

    >div > nav {
      >a {
        margin: 0 40px 0 0;
        font-size: $f-size-16;
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    .d-btn.lite {
      display: none;
    }

    .h-menu {
      display: none;
      margin: 0 12px 0 0;

      .icons {
        font-size: $f-size-30;
      }
    }

    .page-title {
      margin: 0 50px 0 0;
      font-size: $f-size-24;
      font-weight: 900;
      text-transform: uppercase;

      .icons:before {
        vertical-align:middle;
      }
    }

    .sign-btn {
      flex: 0 0 auto;
      padding: 8px 12px;
      font-size: $f-size-16;
      font-weight: 500;
      line-height: 20px;
      text-decoration: none;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
}


.page-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;

  >p {
    display: none;
  }

  >div {
      position: absolute;
      top: 0;
      left: 0;
  
      display: block;
      width: 582px;
      height: 997px;
      background-position: top left;
      background-repeat: no-repeat;
      z-index: 10;

      &.pg-right {
        top: 0;
        left: auto;
        right: 0;

        width: 566px;
        height: 1257px;
        background-position: top left;
        background-repeat: no-repeat;
        z-index: 10;
      }
  }

}


.page-main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.success, .failure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.page-footer {
  flex: 0 0 auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);

  .container {
    padding: 100px 148px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .brand {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    >dl {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;

      font-size: $f-size-12;
      color: rgba(255, 255, 255, 0.4);
      
      >dt >h1 {
        display: flex;
        height: 34px;
        line-height: 34px;
  
        > a {
          font-weight: 900;
          font-size: $f-size-24;
          color: #fff;
    
          &:hover {
            text-decoration: none;
          }
  
          .icons:before {
            vertical-align:middle;
          }
        }
      }
  
      >dd {
        margin-top: 10px;
  
        &:last-child {
          margin-top: 20px;
        }

        > a {
          color: rgba(255, 255, 255, 0.4);
    
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .navigations {
    width: 34%;

    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    >dl {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;

      >dt {
        margin: 0 0 20px 0;
        font-size: $f-size-16;
        font-weight: 500;
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.87);
      }

      >dd {
        margin: 0 0 16px 0;
  
        &:last-child{
          margin: 0;
        }
  
        >a {
          font-size: $f-size-14;
          color: rgba(255, 255, 255, 0.6);
          
          &:hover {
            text-decoration: none;
          }
        }
      }
    }    
  }

  .follow-us {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    >dl {
      flex: 0 0 auto;
      width: 100%;

      >dt {
        margin: 0 0 22px 0;
        font-size: $f-size-16;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.87);
      }
  
      >dd {
        margin: 0 0 32px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
  
        &:last-child {
          margin: 0;
        }
  
        >a {
          flex: 0 0 auto;
          margin: 0 20px 0 0;
        }
  
        .icons {
          font-size: $f-size-22;
          color: #fff;
  
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .contact-btn {
      flex: 0 0 auto;
      display: inline-flex;
      padding: 6px 12px 6px 12px;

      font-size: $f-size-14;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;

      border-radius: 4px;
      border: 2px solid #7352FA;
      background-color: transparent;
      overflow: hidden;
    }
  }
}


.container {
  flex: 1 1 auto;
  margin:0 auto;
  width: 100%;
  max-width: 1440px;
}


@include desktop-xl {
  .container {
    max-width: 1920px;
  }

  .page-header {
    .container {
      padding: 0 120px;
    }
  }
}


@include desktop-lg {
  .container {
    max-width: 1440px;
  }

  .page-header {
    .container {
      padding: 0 64px;
    }
  }
}


@include desktop-md {
  .container {
      padding: 0 40px;
  }
}


@include mobile {

  h1 {
    font-size: $f-size-40;
    line-height: 48px;
  }

  h2 {
    font-size: $f-size-32;
    line-height: 39px;
  }

  h3 {
    font-weight: bold;
    font-size: $f-size-20;
    line-height: 24px;
  }

  .container {
      padding: 0 24px;
  }

  .page-header {
    .container {
      padding: 0 24px 0 20px;
      height: 64px;

      >div > nav {
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        background-color: #030303;
        box-shadow: 0 10px 4px #000;

        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: all ease 0.2s;

        &.open {
          opacity: 1;
          z-index: 1;
          visibility: visible;
        }

        >a {
          flex: 0 0 auto;
          width: 100%;
          padding: 16px 80px;
          border-top: solid 1px #313131;

          font-size: $f-size-20;
          font-weight: bold;
        }
      }

      .d-btn.full {
        display: none;
      }
      .d-btn.lite {
        display: none;
      }

      .h-menu {
        display: inline-flex;
      }

      .page-title {
        margin: 0;
        font-size: $f-size-22;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }

  .page-footer {
    flex: 0 0 auto;
    width: 100%;

    .container {
      padding: 40px 24px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
    }

    .brand, .navigations, .follow-us {
      margin: 0 0 48px 0;
    }

    .brand {
      order: 3;
    }

    .navigations {
      order: 1;

      flex-flow: column nowrap;
      justify-content: flex-start;

      >dl {
        margin: 0 0 32px 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .follow-us {
      order: 2;
    }
  }
}